<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lau.githubs.mapper.HotrepoMapper">
  <sql id="Base_Column_List">
      id,
      another,
      `name`,
      des,
      languages,
      url,
      stars,
      forks,
      staradd,
      ltype,
      mtype,
      createtime,
      `status`
  </sql>
  <resultMap id="BaseResultMap" type="com.lau.githubs.model.Hotrepo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="another" jdbcType="VARCHAR" property="another" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="languages" jdbcType="VARCHAR" property="languages" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="stars" jdbcType="VARCHAR" property="stars" />
    <result column="forks" jdbcType="VARCHAR" property="forks" />
    <result column="staradd" jdbcType="VARCHAR" property="staradd" />
    <result column="ltype" jdbcType="VARCHAR" property="ltype" />
    <result column="mtype" jdbcType="VARCHAR" property="mtype" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <select id="getHotRepoCount" resultType="java.lang.Integer" parameterType="com.lau.githubs.model.Hotrepo">
        select count(1) from hotrepo
  </select>
  <select id="getHotRepoList" resultType="com.lau.githubs.model.Hotrepo" parameterType="com.lau.githubs.model.Hotrepo">
    select * from hotrepo
  </select>

<!--auto generated by MybatisCodeHelper on 2019-06-25-->
  <select id="countByLanguagesAndMtype" resultType="java.lang.Integer" parameterType="com.lau.githubs.model.Hotrepo">
    select count(1)
    from hotrepo
    where 1=1
    <if test="languages != null">
      and languages=#{languages,jdbcType=VARCHAR}
    </if>
    <if test="mtype != null">
      and mtype=#{mtype,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-06-25-->
  <select id="findAllByLanguagesAndMtype" resultMap="BaseResultMap" parameterType="com.lau.githubs.model.Hotrepo">
    select
    <include refid="Base_Column_List"/>
    from hotrepo
    where 1=1
    <if test="languages != null">
      and languages=#{languages,jdbcType=VARCHAR}
    </if>
    <if test="mtype != null">
      and mtype=#{mtype,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>